@import "../../../sass/variables";
@import "../../../sass/mixin";
.card {
  display: flex;
  position: relative;
  width: 350px;
  margin: auto;
  padding: 4em;
  background-color: black;
  color: white;
  text-align: center;
  @include mobiles {
    width: 450px;
  }
  @include tablets {
    width: 750px;
  }
  @include large-screens {
    width: 900px;
  }
}
p {
  text-align: left;
  margin: 0.8em;
}

.spinner{
  display: flex;
  justify-content: center;
  margin-top: 300px;
  height: 430px;
}
