<div *ngIf="movies">
  <div class="card" *ngFor="let movie of movies.result">
    <!-- <img
      src="../../../assets/img/films/{{ movie.titre }}.jpg"
      class="card-img-top"
    /> -->
    <div class="card-body">
      <h5 class="card-title">{{ movie.titre }}</h5>
      <p class="card-text">Episode: {{ movie.episode }}</p>
      <p class="card-text">
        Date de Sortie: {{ movie.sortie }}
      </p>
      <p class="card-text">Sinopse: {{ movie.description }}</p>
      <p class="card-text">
        <small class="text-muted">Director: {{ movie.director }}</small>
        <br />
        <!-- <small class="text-muted">Producer: {{ movie.producer }}</small> -->
      </p>
    </div>
  </div>
</div>
<div class="spinner" *ngIf="isLoading">
  <app-spin></app-spin>
</div>
