@import "./../../../sass/variables";
@import "./../../../sass/mixin";

 

.content {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 4em;
   
}

.card {
  display: flex;
  margin: 1.5em;
  @include mobiles {
    max-width: 350px;
  }
  @include tablets {
    max-width: 500px;
  }
}

.pagination {
  margin: 1.5em auto;
  cursor: pointer;
  
}

.spinner {
  display: flex;
  justify-content: center;
  margin-top: 230px;
  height: 39vh;
   
}
