 

  <!-- <nav class="pagination" aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item">
      <a
        class="page-link"
        aria-label="Previous"
        (click)="getPeoplePreviousNext(false)"
      >
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    <li class="page-item">
      <a
        class="page-link"
        aria-label="Next"
        (click)="getPeoplePreviousNext(true)"
      >
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</nav> -->

<div *ngIf="!isLoading">
  <div class="content" *ngIf="characters">
    <div *ngFor="let character of characters">
      <div class="card" style="width: 18rem;">
         <img
          src="../../../assets/img/people/{{ character.nom }}.jpg"
          class="card-img-top"
        /> 
        <div class="card-body">
          <h5 class="card-title">{{ character.nom | uppercase }}</h5>
          <p class="card-text">taille: {{ character.taille }} m</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="spinner" *ngIf="isLoading">
  <app-spin></app-spin>
</div>

 
