@import "./../../../sass/variables";
@import "./../../../sass/mixin";

 
.content {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 4em;
  min-height: 100vh;
   
}

.card {
  display: flex; 
  margin: 1.5em;
  
  @include mobiles {
    max-width: 350px;
  }
  @include tablets {
    max-width: 500px;
  }
}

.pagination {
  margin: 1.5em auto;
  cursor: pointer;
}

.spinner {
  display: flex;
  justify-content: center;
  margin: 146px;
  height: 39vh;
}
