<!--
  <div class="navbar">
  <a class="navbar-link" [routerLink]="['home']">home</a>
  <a class="navbar-link" [routerLink]="['people']">people</a>
  <a class="navbar-link" [routerLink]="['films']">films</a>
</div>

-->

<!--
  <div class="wrapper">
  <div class="wrapper-content">
    <img [src]="wrapperImg" alt="" />
  </div>
  </div>
-->

<div class="video-loop">
  <video autoplay loop>
    <source src="../assets/video/star wars.mp4" type="video/mp4" />
  </video>
</div>

<div class="content-app">
  <div class="content-app--title">
    <h1>Welcome to the Caracter and Movies Details of Star Wars API</h1>
  </div>
  <div class="content-app--navbar">
    <a class="navbar-link">people</a>
    <a class="navbar-link">films</a>
  </div>
</div>
<div class="main-app">
  <img src="../assets/img/star.jpg" alt="">
</div>
<div class="main-cards">
  <router-outlet></router-outlet>
</div>
<div class="footer">
  <app-footer></app-footer>
</div>