@import "./../../../sass/variables";
@import "./../../../sass/mixin";

.cards {
  width: 280px;
  display: block;
  background-color: black;
  border-radius: 10px;
  margin: 0.8em auto;
  @include tablets {
    display: inline-block;
    margin: 1.2em 4.2em;
  }
  @include large-screens {
    width: 250px;
    margin: 2em;
  }
  h3 {
    color: white;
    text-align: center;
    height: 50px;
    padding: 0.8em;
  }
  img {
    border-radius: 10px;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}
