
@import "../../../sass/variables";
@import "../../../sass/mixin";

.image-intro{
  z-index: 1;
  background: linear-gradient(to right, transparent, #000 98%),
              linear-gradient(to bottom, transparent 90%, #000);
  @include tablets {
    background: linear-gradient(to right, transparent, #000 60%),
                linear-gradient(to bottom, transparent 90%, #000);
  }
  img{
    width: 100vw;
    height: 81vh;
    position: relative;
    object-fit: cover;
    object-position: left 20%;
    z-index: -1;
    @include tablets {
      height: 84.6vh;
    }
    @include computers {
      height: 84.6vh;
    }
  }
}
.image-text{
  position: relative;
  //top: -50px;
  text-align: center;
  color: white;
  width: 100%;
  padding: 55px 15px;
  background: black;
  @include tablets {
    position: absolute;
    background: linear-gradient(to right, transparent, #000 30%);
    width: 350px;
    right: 0;
    margin: auto 1.5em;
    top: 14.5em;
  }
  @include computers {
    padding: 0;
    margin: auto 10em;
    
  }
  h1{
    position: relative;
    font-size: 1.5em;
    top: -15px;  
    font-family: 'Star Wars Round';
  }
  p{
    font-size: 1.1em;
    line-height: 1.2em;
    font-family: 'Star Wars Round';
  }

}
 