.four-oh-four{
    display: flex;
    position: relative;
    top: 250px;
    flex-flow: column;
    margin: 1.6em;
    height: auto;
    text-align: center;
   
}

h1 {
    font-size: 2.5em;
    color: white;
}

 