form {
    text-transform: uppercase;
    font-size: 1em;
    label{      
        color: white;
        padding: .5em 0;
    }
  margin: 10.5em auto;
  width: 400px;
  button {
    color: black;
    background: white;
    border: none;
     
  }
}
